registry=https://registry.npmjs.org/ # use the official npm registry

save-exact=true # save exact version of dependencies (without ^ or ~)

package-lock=true # use package-lock.json for package management

legacy-peer-deps=true # do not use legacy peer dependencies resolution
auto-install-peers=true # automatically install peer dependencies

cache-min=86400 # minimum time in seconds to keep packages in cache

engine-strict=true # enforce engine strictness
ignore-scripts=false # do not ignore scripts defined in package.json

audit=true # enable npm audit for security vulnerabilities
audit-level=moderate # (or high) # set the minimum severity level for audit warnings

fund=true # enable funding information display

save=true # save dependencies when installing packages
save-dev=true # save dev dependencies when installing packages

timing=true # enable timing information during package installation
