# Ignore everything by default
*

# Allow files and directories
!/backend
!/frontend

# Ignore unnecessary files inside allowed directories (this should go after the allowed files and directories)
**/*~
**/*.iml

## Ignore unnecessary files inside backend app
/backend/*
!/backend/src/
!/backend/pom.xml
!/backend/.mvn/
!/backend/mvnw

## Ignore unnecessary files inside frontend app
/frontend/*.iml
/frontend/dist/
/frontend/node_modules/
